:root{ 
--primery-title-color:#212121;
--primery-text-color:#757575;
--primery-text-bgc:#FFFFFF;
--header-color: #ffffff;
--acent-color:#2196F3;
--primery-bgc:#E5E5E5;
--secondary-bgc:#F5F4FA;
--footer-color:#2F303A;

}


body{   
  
    background-color: var(--primery-bgc);
    color: var(--primery-text-color);
    margin: 0;
}
main{
 
}
/* dcvcd */
/* основной текст заголовков  rgba(33, 33, 33, 1)  #212121*/
/*основной цвет текста rgba(117, 117, 117, 1)  #757575*/
/*основной цвет на фоне rgba(255, 255, 255, 1)  #FFFFFF*/
/*цвет акцента rgba(33, 150, 243, 1)   #2196F3*/
/*цвет адресов rgba(255, 255, 255, 0.6); */

/*основной фон #E5E5E5*/
/*вторичный фон #F5F4FA*/
/*цвет хедер  #FFFFFF*/
/*цвет футер b героя #2F303A*/

header{
    background-color: var(--header-color);
     padding-left: 215px;
}
.site-nav,
.addr-nav
{   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding: 0;
}
.list {
    list-style: none;}


.link{
    color: var(--primery-title-color);
    text-decoration: none}

 .link:hover,
 .link:focus
{
    color: var(--acent-color);
}


.logo{  
    color: var(--primery-title-color); 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    
}

.logo-color{
    color: var(--acent-color);
}
.logo >.secondary{
    color: var(--primery-text-bgc);
}


/*HERO*/
.hero-section
 {
    color: var(--primery-text-bgc) ;
    background-color: var(--footer-color);
}


/*section*/


section.primery{
    background-color: var(--secondary-bgc);
    margin: 0%;

}
.section.secondary {
    background-color: var(--secondary-bgc) ;
}
.section {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
   
   
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.section-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: var(--primery-title-color);
    letter-spacing: 0.03em;



}
.section-text{
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
     color: var(--primery-title-color);
    
}
.nocolour {
     
    color: rgb(255, 0, 13, 0);
}



/*footer*/

footer{
  


    background-color: var(--footer-color) ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding-left: 215px;

}

    
.map{
    color: var(--primery-text-bgc) ;
    text-decoration: none;
    
    
  
}

.footer-nav{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
  

}
.footer-list{
    padding: 0;
    list-style: none;
}

.map:hover,
.map:focus,
.footer-nav:focus,
.footer-nav:hover

{
    color: var(--acent-color) ;
    list-style: none;
    
    


}