:root {

    --first-header-color: #212121;
    --second-header-color: #757575;
    --title-color: #212121;
    --text-color: #757575;
    --hero-title-color: #FFFFFF;
    --btn-color: #2196F3;
    --btn-text-color: #ffffff;
    --btn-secondary-color: #212121;
    --accent-color: #2196F3;
    --first-bgc: #ffffff;
    --second-bgc: #F5F4FA;
    --hero-bgc: #2F303A;
    --footer-bgc: #2F303A;
    --addres-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--first-bgc)
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--first-header-color)
}


/*--------------------------header-----------------------------------*/

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em color: var(--first-header-color)
}

.logo-color {
    color: var(--accent-color)
}

.header-fonts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-nav-text {

    color: var(--first-header-color);
}


.header-addres-text {

    color: var(--second-header-color);
}

.header-nav-text:hover,
.header-nav-text:focus,
.header-addres-text:hover,
.header-addres-text:focus,
.current {
    color: var(--accent-color);
}


/*--------------------------------HERO--------------------------------------*/

.hero {
    background-color: var(--hero-bgc);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color)
}

.btn {
    background-color: var(--btn-color);
}

.hero-btn-text {
    color: var(--btn-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/*---------------------section-about--------------------------*/

.about-title {}

.notext {
    color: var(--hero-title-color);
}

.about-post-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.about-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);

}

/*---------------------------------section-work---------------------*/

.work-title,
.comant-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

/*--------------------------------section-command----------------------*/

.comand {
    background-color: var(--second-bgc);
}

.com-fonts {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.comand-post-title {
    font-weight: 500;
    color: var(--title-color);
}

.comand-text {
    color: var(--text-color);
}

/*------------------------------------footer-------------------------*/
.fter {
    background-color: var(--footer-bgc);
}

.footer-logo {

    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hero-title-color);
}

.foot-fonts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-map {

    color: var(--hero-title-color);
}

.footer-addres {

    color: var(--addres-color);

}

.footer-map:hover,
.footer-map:focus,
.footer-addres:hover,
.footer-addres:focus {
    color: var(--accent-color);
}





/*-------------------------------PORTFOLIO-------------------------------*/
/*-------------------------------nav-section-----------------------------*/
.portf-btn-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--btn-secondary-color);
    border: none;
    background-color: var(--first-bgc);
    cursor: pointer;
    background-color: var(--second-bgc)
}

.portf-btn-text:hover,
.portf-btn-text:focus {

    color: var(--btn-text-color);
    background-color: var(--accent-color);
}

/*-----------------------------portf-work-section----------------------------*/

.portfolio-post-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);

}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--text-color);
}