:root{ 
--primery-title-color:#212121;
--primery-text-color:#757575;
--primery-text-bgc:#FFFFFF;
--header-color: #ffffff;
--acent-color:#2196F3;
--secondary-bgc:#F5F4FA;
--footer-color:#2F303A;

}


body{   
  
    background-color: var(--primery-text-bgc);
    color: var(--primery-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    

    
}
/* основной текст заголовков  rgba(33, 33, 33, 1)  #212121*/
/*основной цвет текста rgba(117, 117, 117, 1)  #757575*/
/*основной цвет на фоне rgba(255, 255, 255, 1)  #FFFFFF*/
/*цвет акцента rgba(33, 150, 243, 1)   #2196F3*/
/*цвет адресов rgba(255, 255, 255, 0.6); */

/*основной фон #E5E5E5*/
/*вторичный фон #F5F4FA*/
/*цвет хедер  #FFFFFF*/
/*цвет футер b героя #2F303A*/
/*
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;*/




.site-nav,
.addr-nav
{   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
   
}
.list {
    list-style: none;}


.link{
    color: var(--primery-title-color);
    text-decoration: none}
.link.light{ color: var(--primery-text-color);}

 .link:hover,
 .link:focus
{
    color: var(--acent-color);
}
.site-nav .link.current{
   color: var(--acent-color) ;
}

.logo{  
    color: var(--primery-title-color); 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 119%;
    text-decoration: none;
    
}

.logo-color{
    color: var(--acent-color);
}
.logo >.secondary{
    color: var(--primery-text-bgc);
}


/*HERO*/
.hero-title{
    font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}



.hero-section
 {
    color: var(--primery-text-bgc) ;
    background-color: var(--footer-color);
}
.button{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /*display: flex;
    align-items: center;
    text-align: center;*/
    letter-spacing: 0.06em;
    color: var(--primery-text-bgc);
    background-color: var(--acent-color);
    cursor: pointer;}
    

.nav-button.portfolio {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--primery-title-color);}

.section.secondary {
    background-color: var(--secondary-bgc) ;
}

.nocolour
{
     color: var(--header-color);
    }
.section-title
{
    color: var(--primery-title-color) ;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

}
.section-text{
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;    
     font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     color: var(--primery-title-color);}
    
.section-description{
font-size: 14px;
line-height: 1.71;

}
    
}


.comand-text {
    color: var(--primery-title-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.comand-description {
    color: var(--primery-text-color);
    font-family: 'Roboto';

font-weight: 400;
font-size: 16px;
line-height: 1.19;

}


/*footer*/

.footer{
  


    background-color: var(--footer-color) ;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

    
.map{
    color: var(--primery-text-bgc) ;
    text-decoration: none;
    
    
  
}

.footer-nav{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
  

}
.footer-list{
    padding: 0;
    list-style: none;
}

.map:hover,
.map:focus,
.footer-nav:focus,
.footer-nav:hover

{
    color: var(--acent-color) ;
    list-style: none;
    
    


}/*--------------------Портфолио--------------------------------*/


.nav-button{
    border: none;
    color: var(--primery-title-color);
    background-color: var(--primery-bgc) ;
    cursor: pointer;
}
.nav-button:hover,
.nav-button:focus
{
    color: var(--primery-text-bgc);
    background-color: var(--acent-color) ;
}
.portf-text{
font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primery-title-color);
}
.portf-description{
    
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--primery-text-color);
}